<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">
    <title></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Gotta catch em all! Pokemon!</h1>
    <div class="container" style="text-align:center;">
      <table>
        <% for (let i = 0; i < pokemons.length; i++) { %>
          <ul class="pokemon">

            <br>
            <form action="/pokemon/<%=i%>">
              <input class="button" type="submit" value="<%= pokemons[i].name %>" /> <br>
            </form>
          </ul>

        </table>
        <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
          <input class="delete-button" type="submit" value="Delete" />
        </form>
        <a href="/pokemon/<%= i %>/edit">Edit Pokemon</a>
        <% } %>
      </div>
      <form action="/pokemon/new">
        <input class="create-button" type="submit" value="Create New Pokemon" />
      </form>
      <%- include('partials/footer') %>
  </body>
</html>
